__pycache__
.ipynb_checkpoints

Sign*Language*Model*(Legacy)/Data/test/labels/*
Sign*Language*Model*(Legacy)/Data/test/images/*
Sign*Language*Model*(Legacy)/Data/train/labels/*
Sign*Language*Model*(Legacy)/Data/train/images/*
Sign*Language*Model*(Legacy)/Data/valid/labels/*
Sign*Language*Model*(Legacy)/Data/valid/images/*
Sign*Language*Model*(Legacy)/SignLangVenv/

Sign*Language*Model/Data/*/*/
Sign*Language*Model/SignLangVenvDLM/
