__pycache__
.ipynb_checkpoints

Sign*Language*Model/Data*1/test/labels/*
Sign*Language*Model/Data*2/test/labels/*
Sign*Language*Model/Data/test/labels/*
Sign*Language*Model/Data*1/test/images/*
Sign*Language*Model/Data*2/test/images/*
Sign*Language*Model/Data/test/images/*

Sign*Language*Model/Data*1/train/labels/*
Sign*Language*Model/Data*2/train/labels/*
Sign*Language*Model/Data/train/labels/*
Sign*Language*Model/Data*1/train/images/*
Sign*Language*Model/Data*2/train/images/*
Sign*Language*Model/Data/train/images/*

Sign*Language*Model/Data*1/valid/labels/*
Sign*Language*Model/Data*2/valid/labels/*
Sign*Language*Model/Data/valid/labels/*
Sign*Language*Model/Data*1/valid/images/*
Sign*Language*Model/Data*2/valid/images/*
Sign*Language*Model/Data/valid/images/*
Sign*Language*Model/Data*1/

Sign*Language*Model/Data*Unused/test/*
Sign*Language*Model/Data*Unused/

Sign*Language*Model/SignLangVenv/
Sign*Language*Model*(DLM)/SignLangVenvDLM/

Sign*Language*Model*(DLM)/Data/*/*